.bodySignup .mainCard{
   
    padding: 50px 20px 50px 20px;
    
}
.bodySignup{
    background-color: #FEEDF6;;
    padding: 100px 550px 100px 450px;
}
.bodySignup .card{
    padding: 30px;
}
.bodySignup .heading{
    font-size: 40px;
    
}