.body .mainCard{
   
    padding: 50px 20px 50px 20px;
    width:500px;
    
}
.body{
    background-color: #FEEDF6;;
    padding: 100px 550px 100px 450px;
}
.body .card{
    padding: 30px;
}
.body .heading{
    font-size: 40px;
    
} 